---
import "../styles/global.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;

const navLinks = [
  { href: "/", label: "index", hideOnMobile: true },
  { href: "/projects", label: "projects" },
  { href: "/gallery", label: "gallery" },
];

const { pathname } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />

    {title && <title>{title}</title>}
    {description && <meta name="description" content={description} />}

    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.getItem("theme") === "dark",
      );
    </script>
  </head>

  <body class="flex min-h-dvh flex-col">
    <nav
      class="border-b-on-bg-alt/25 flex items-center gap-6 border-t border-b border-t-transparent px-6 py-4 font-serif max-sm:gap-4 max-sm:px-4"
    >
      <a
        href="/"
        data-active={pathname === "/" || undefined}
        class="mr-auto font-mono text-2xl hover:italic max-sm:data-[active]:italic"
        title="home">bashar</a
      >

      {
        navLinks.map(({ href, label, hideOnMobile }) => {
          return (
            <div class={`flex ${hideOnMobile ? "max-sm:hidden" : ""}`}>
              <a
                href={href}
                data-active={
                  pathname === href || pathname === `${href}/` || undefined
                }
                class="peer text-on-bg-alt sm:hover:text-on-bg sm:data-[active]:text-on-bg order-2 max-sm:grid max-sm:hover:italic max-sm:data-[active]:italic"
              >
                <span
                  aria-hidden="true"
                  class="invisible col-start-1 row-start-1 italic sm:hidden"
                >
                  {label}
                </span>
                <span class="col-start-1 row-start-1">{label}</span>
              </a>
              <span
                aria-hidden="true"
                class="text-on-bg-alt peer-data-[active]:text-on-bg pointer-events-none invisible order-1 select-none peer-hover:visible peer-data-[active]:visible max-sm:hidden"
              >
                [&nbsp
              </span>
              <span
                aria-hidden="true"
                class="text-on-bg-alt peer-data-[active]:text-on-bg pointer-events-none invisible order-3 select-none peer-hover:visible peer-data-[active]:visible max-sm:hidden"
              >
                &nbsp]
              </span>
            </div>
          );
        })
      }

      <div class="bg-on-bg-alt/25 w-px shrink-0 self-stretch"></div>

      <button
        id="theme-toggle"
        title="toggle theme"
        aria-label="toggle theme"
        class="text-on-bg-alt hover:text-on-bg text-sm before:content-['◐'] dark:before:content-['◑']"
      >
      </button>

      <a
        href="https://codeberg.org/bashar-515/me"
        target="_blank"
        rel="noopener"
        title="source code"
        aria-label="source code"
        class="text-on-bg-alt hover:text-on-bg text-sm whitespace-nowrap max-sm:hidden"
      >
        &lt;/&gt;
      </a>
    </nav>

    <div class="grow p-6">
      <slot />
    </div>

    <footer
      class="border-t-on-bg-alt/50 mx-3 mb-5 flex flex-col-reverse justify-end border-t border-b border-b-transparent py-1 max-sm:mx-4 sm:flex-row sm:px-3"
    >
      <p class="mr-auto font-serif text-xs italic">thanks for stopping by :)</p>

      <div class="text-sm">
        <a
          class="underline hover:no-underline"
          href="https://boxd.it/4NAk7"
          target="_blank"
          rel="noopener">letterboxd</a
        >
        <a
          class="underline hover:no-underline"
          href="https://www.last.fm/user/basharr"
          target="_blank"
          rel="noopener">last.fm</a
        >
        <a
          class="underline hover:no-underline"
          href="https://www.discogs.com/user/basharr/collection"
          target="_blank"
          rel="noopener">discogs</a
        >

        <span aria-hidden="true">•</span>

        <a
          class="underline hover:no-underline"
          href="https://codeberg.org/bashar-515"
          target="_blank"
          rel="noopener">codeberg</a
        >
        <a
          class="underline hover:no-underline"
          href="https://github.com/bashar-515"
          target="_blank"
          rel="noopener">github</a
        >

        <span aria-hidden="true">•</span>

        <a
          class="underline hover:no-underline"
          href="https://www.linkedin.com/in/bashareid/"
          target="_blank"
          rel="noopener">linkedin</a
        >
      </div>
    </footer>

    <script>
      document.getElementById("theme-toggle")?.addEventListener("click", () => {
        localStorage.setItem(
          "theme",
          document.documentElement.classList.toggle("dark") ? "dark" : "light",
        );
      });
    </script>
  </body>
</html>
